<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoodScanner.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D9F45412CFB5A8B000C77FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D9F45512CFB5A8D000C77FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D9F455B2CFB5A8D000C77FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
